* {
    box-sizing: border-box;
    font-family: 'Arial';
    text-transform: uppercase;
}

html,
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    text-align: center;
    color: black;
    z-index: 1;
}

.message-content {
    max-width: 500px;
    width: 90%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-content h1 {
    margin-top: 10%;
}

.message-content a {
    text-decoration: none;   
}

span {
    color: white;
    font-size: 30px;
    background-color: #FF7E00;
    border-radius: 10px;
}

span:hover {
    background-color: orangered;
}

.container .img-content {
    background-image: url("../assets/welcome-page.jpg");
    background-size: cover;
    background-repeat: 		no-repeat;
    background-position:	left center; 
    height:	100%;
    width:	100%;
    opacity: 0.4;
    filter: alpha(opacity=40); /*For IE8 and earlier*/
    position: absolute;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    .message-content {
        width: 70%;
        height: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .message-content {
        width: 70%;
        height: 50%;
    }
}